params.outdir = "s3://s3-csu-offline-003/results/"
workDir = "s3://s3-hello-nextflow/nextflow_env/"

plugins {
    id 'nf-amazon'
}


process {
    executor = 'awsbatch'
    queue = 'hello-nextflow'
    container = '982622767822.dkr.ecr.eu-west-1.amazonaws.com/mystic-cow:latest'
}


aws {
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'eu-west-1'
}
